* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: hsl(0, 0%, 8%);
    min-height: 100vh;
    font-family: inter, sans-serif;
}

p{
    color: hsl(0, 0%, 100%);
    font-size: 14px;
}

h1 {
    color: hsl(0, 0%, 100%);
    font-size: 1.5rem;
    font-weight: 600;
}

.card {
    background: hsl(0, 0%, 12%);
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    margin: 4rem 0;
    gap: 0.5rem;
    align-items: center;
    border-radius: 0.85rem;
    max-width: 384px;
    width: 90%;
}

.img-container img {
    width: 88px;
    height: 88px;
    border-radius: 50%;
}

.card h1 {
    padding-top: 1rem;
}

.location {
    color: hsl(75, 94%, 57%);
    font-weight: 700;
}

.bio {
   padding: 1rem 0; 
}

.card button {
    width: 100%;
    background: hsl(0, 0%, 20%);
    border: none;
    border-radius: 0.57rem;
    padding: 1rem;
    font-weight: 700;
    font-size: 0.875rem;
    color: hsl(0, 0%, 100%);
    cursor: pointer;
    transition-duration: 300ms;
    margin-bottom: 0.5rem;
}

.card button:hover {
    background: hsl(75, 94%, 57%);
    color: black;
}
